/* styles.css */

@font-face {
    font-family: 'Heavy';
    src: url('font/Octarine-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Thin';
    src: url('font/Octarine-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: Heavy, sans-serif;
    background-color: #212121;
    color: #fff;
}

p{
    font-family: Thin;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
    z-index: 1000;
}

.header-content {
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    margin-top: 15px;
}


.header-content h1 {
    color: #e03a8d;
    font-size: 250%;
}

.header-content h2{
    font-family: Thin;
    color: #fff;
}

.header-content div{
    float: left;
    width: 70%;
}

.header-content nav {
    float: left;
    width: 30%;
}

.header-content-links img {
    width: 40px;
    height: 40px;
    float: right;
    padding-top: 40px;
    padding-right: 20px;
}

.header-content-links img:hover{
    filter: grayscale(100%);
}

.header-content-profile img{
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
}

.header-content-profile h2{
    padding-left: 80px;
    transform: translateY(-25px);
    font-weight: 200;
}
    

main h2{
    font-size: xx-large;
}

.main-content {
    max-width: 1300px;
    margin: 0 auto;
}

.about{
    background-color: #212121;
    margin-top: 160px;
}

.about img{
    display: block;
    margin: 0 auto;
    width: 240px;        
    height: 240px;       
    border-radius: 50%;         /* Rende l'immagine circolare */
    border: 3px solid #e6e131;  /* Colore del bordo */
    box-sizing: border-box;
}

.about p{
    margin: 0 auto;
    font-size: 20pt;
    max-width: 70%;
    margin-bottom: 100px;
}

.about p b{
    color: #e6e131;
}

.skills-item {
    display: flex; /* Attiva Flexbox */
    justify-content: center; /* Centra orizzontalmente */
}

.skills h3{
    color: #e6e131;
    display: inline-block;
    margin-right: 10px;
    border: 2px solid #e6e131;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
}

.projects h2{
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid-item {
    background-color: #2e2e2e;
    color: white;
    border-radius: 10px;
}

.grid-item h3{
    text-decoration: underline;
}

.grid-item:hover h3{
    filter: grayscale(100%);
}

.grid-item a{
    color: #fff;
}

.grid-item h3, p {
    margin: 0;
    padding: 10px;
}

.grid-item h3 {
    color: #e6e131;
    font-size: x-large;
}  

.grid-item:hover .overlay{
    opacity: 1;
}

.overlay-container{
    position: relative;
}

.overlay-container video{
    width: 100%;
    padding: 0;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    pointer-events: none;
}

.overlay{
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.8); 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0; 
    transition: opacity 0.3s ease; 

    display: flex; 
    justify-content: center; 
    align-items: center;

}

.table-data {
    display: flex; 
    align-items: center;
    height: 40px;
}

.table-data img{
    max-width: 25px;
    max-height: auto;
    margin-right: 10px;
    padding-bottom: 5px;
} 

 

.educations-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-bottom: 50px;
}

.educations h2{
    margin-top: 40px;
    margin-bottom: 40px;
}

.educations-grid-item{
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: auto;
    padding-left: 10px;
}

.educations-grid-item:hover a{
    filter: grayscale(100%);
}

.educations-grid-item h3{
    color: #e6e131;
    text-decoration: underline;
}

.educations-grid-item p{
    padding-left: 0px;
    text-decoration: none;
    color: #fff;
}

    

footer {
    position: static;
    top: 100%;
    left: 0;
    height: 200px;
    background-color: #e03a8d;
}

.footer-content {
    display: flex;
    max-width: 1300px;
    height: 150px;
    margin: 0 auto;
    font-family: Thin;
    text-align: center;
    justify-content: center;
}

.footer-content a{
    text-decoration: underline;
    color:#fff
}

.footer-content h5{
    margin-top: 130px;
}

/*switch behaviour when scren size is under 700px*/
@media screen and (max-width: 700px) {

    .header-content {
        margin-top: 0px;
    }

    .header-content div, nav {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
        font-size: 70%;
    }

    .header-content div{
        float: left;
    }

    .header-content nav {
        float: right;
    }

    .header-content-profile img{
        margin-top: -10px;
    }

    .header-content-profile h2{
        padding-left: 80px;
        transform: translateY(-20px);
        font-weight: 200;
    }

    .header-content-links{
        height: 20px;
        min-width: 150px; /*avoid logos exceed the page on the right */
        transform: translateY(-50px);
        margin-bottom: 10px;
    }

    .header-content-links img {
        width: 30px;
        height: 30px;
        margin-bottom: auto;
    }

    .about p{
        font-size: 15pt;
        max-width: 100%;
    }

    .skills-item{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* gap: 2px; */
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .educations-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}
