/* styles.css */
a {
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #212121;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
}

.header-content {
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
}

    

    .header-content h1 {
        color: #e03a8d;
        font-size: 250%;
    }

    .header-content div{
        float: left;
        width: 70%;
    }

    .header-content nav {
        float: left;
        width: 30%;
    }

    .header-content-links img {
        width: 40px;
        height: 40px;
        float: right;
        padding-top: 30px;
        padding-right: 20px;
    }

    .header-content-profile img{
        width: 70px;
        height: 70px;
        float: left;
        margin-right: 10px;
        padding-top: 5px;
    }

    .header-content-profile h2{
        padding-left: 80px;
        /* margin-bottom: 50px; */
        transform: translateY(-25px);
        font-weight: 200;
    }

main {
    padding-top: 120px;
    padding-bottom: 50px;
}

.main-content {
    max-width: 1300px;
    margin: 0 auto;
}

/* Container della griglia */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}



/* Elementi della griglia */
.grid-item {
    background-color: #2e2e2e;
    color: white;
}

    .grid-item img {
        width: 100%;
        padding: 0;
        height: auto;
    }

    .grid-item h3, p {
        margin: 0;
        padding: 10px;
    }

    .grid-item h3 {
        color: #e6e131;
    }

footer {
    position: static;
    top: 100%;
    left: 0;
    height: 200px;
    background-color: #e03a8d;
}

.footer-content {
    max-width: 1300px;
    height: 150px;
    margin: 0 auto;
}

/*switch behaviour when scren size is under 700px*/
@media screen and (max-width: 700px) {
    .header-content div, nav {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
        font-size: 70%;
    }

    .header-content div{
        float: left;
    }

    .header-content nav {
        float: right;
    }

    .header-content-profile img{
        margin-top: -10px;
    }

    .header-content-profile h2{
        padding-left: 80px;
        transform: translateY(-20px);
        font-weight: 200;
    }

    .header-content-links{
        height: 20px;
        display: flex;    
        /* background-color: aqua; */
        transform: translateY(-60px);
    }

    .header-content-links img {
        width: 30px;
        height: 30px;
        margin-bottom: auto;
        /* transform: translateY(-60px); */
    }

    .grid-container {
        grid-template-columns: 1fr;
        /* Passa a una sola colonna */
    }
}
